html {
    font-size: 18px;
    margin: 20px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.75rem;
    line-height: 1.5;
}

body {
    display: grid;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 7fr 1fr;
    height: 100vh;
    margin: 0;
}

header {
    grid-area: header;
    background-color: #6da0ff;
    text-align: center;
    font-size: x-large;
    margin: 0;
    padding: 0;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    background-color: #d6fcb2;
    overflow-y: auto;
}

aside {
    grid-area: aside;
    background-color: #e0e0e0;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #160f01;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

footer * {
    font-size: 0.8rem;
}

footer > * > *:hover {
    transform: scale(2.2);
}

.left-align {
    margin-left: 10px;
    text-align: left;
}

ul, ol {
    font-size: 1.75rem;
    line-height: 1.5;
}

li:hover{
    transform: scale(2.2);
}

.center-align-list ul,
.center-align-list ol {
    display: inline-block;
    list-style-position: inside;
    text-align: left;
    padding: 0;
}

button {
    width: 80px;
    height: 30px;
    font-size: 1,5rem;
}

button:hover {
    transform: scale(2.2);
}

img {
    max-width: 400px;
    margin: 10px;
}

a{
    color: #ffff00
}